@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .des {
        width: 22% !important;
    }

    .uom {
        width: 11% !important;
    }

    .Zero {
        width: 0% !important;
    }

    .Price {
        width: 9% !important;
    }
   
</style>
<body class="materialdesign">
    <div class="content-inner-all"> 
        <br />
        <br /> 


        <div id="Grad1">

        </div>

    </div>
   



</body>

<script src="~/ClientApp/Quotation/TestGrad.js"></script>