@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .des {
        width: 22% !important;
    }

    .uom {
        width: 11% !important;
    }

    .Zero {
        width: 0% !important;
    }

    .Price {
        width: 9% !important;
    }
   
</style>
<body class="materialdesign">
    <div class="content-inner-all">

        <label>Database</label>
        <input id="Database" />

        <label>Server</label>
        <input id="Server" />

        <label>Password</label>
        <input id="Password" />

        <label>User</label>
        <input id="User" />

        <br />
        <br />
        <button id="ConactServer" value="Conact">   Conact </button>
        <textarea id="ModelArea"></textarea>
        <select id="DataSours" style="width: 22%;"></select>

        <button id="GenerateModels" value="Generate Models">   Generate Models </button>
        <button id="ShowData" value="Generate Models">   Show Data </button>


        <div id="Grad1">

        </div>

    </div>
   



</body>

<script src="~/ClientApp/Quotation/TestGrad.js"></script>