@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .des {
        width: 22% !important;
    }

    .uom {
        width: 11% !important;
    }

    .Zero {
        width: 0% !important;
    }

    .Price {
        width: 9% !important;
    }
</style>
<body class="materialdesign">
    <div class="content-inner-all">
        <div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">
            <div class="col-xs-1">
                <label>Database</label>
            </div>
            <div class="col-xs-3">
                <input id="Database" type="text" class="form-control " value="ERP" />
            </div>
            <div class="col-xs-1">
                <label>Server</label>
            </div>
            <div class="col-xs-3">
                <input id="Server" type="text" class="form-control " value="." />
            </div>



            <div class="col-xs-12">
                <br />
            </div>
            <div class="col-xs-12">
                <div class="col-xs-1">
                    <label>User</label>
                </div>
                <div class="col-xs-2">
                    <input id="User" type="text" class="form-control " value="sa" />
                </div>
                <div class="col-xs-1">
                    <label>Password</label>
                </div>
                <div class="col-xs-2">
                    <input id="Password" type="password" class="form-control " value="619619" />
                </div>
                <div class="col-xs-1">
                    <button id="ConactServer" value="Conact" class="btn btn-custon-four btn-success">   Conact </button>
                </div>

                <div class="col-xs-3">

                    <select id="DataSours" class="form-control "></select>
                </div>

                <div class="col-xs-1">

                    <button id="GenerateModels" value="Generate Models" class="btn btn-custon-four btn-success">   Show Data </button>
                    @*<button id="ShowData" value="Generate Models" class="btn btn-custon-four btn-success" >   Show Data </button>*@


                </div>
            </div>
        </div>
        <div id="Grad1">

        </div>

    </div>




</body>

<script src="~/ClientApp/Quotation/TestGrad.js"></script>